/* Fuentes
    textos - font-family: 'Roboto', sans-serif;
    titulos - font-family: 'Lato', sans-serif;
    h1 y menu - font-family: 'Source Sans Pro', sans-serif;
*/
*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* -----------------CELULARES---------------------------
portrait:320px
Landscape:480px
*/
body{
    width: 100vw;
}
.container{
    width: 30%;
    margin:auto;
}
.header{
    width: 100%;
    background-color: orangered;
    height: 20px;
}

/*-------------------------------TABLETS---------------- 
portrait:768px
Landscape:1024px*/



/* -----------------------PORTATIL------------------------ 
1366px*/

@media screen and (min-width:1366px) and (min-width:1920px){

}
/*------------------------ DESKTOP-------------------------
1920px */