/* Fuentes
    textos - font-family: 'Roboto', sans-serif;
    titulos - font-family: 'Lato', sans-serif;
    h1 y menu - font-family: 'Source Sans Pro', sans-serif;
*/
*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
